
.comic {
	border: 2px solid black;
	padding: 15px 25px 15px 25px;
	margin: 0 auto;
	width: 350px;
	display: block;
}

.error {
	color:red;
}

body {
	padding-top: 70px;
}

.navbar-brand {
	color: white !important;
}

.flash-message {
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
}

.btn a {
	color: white;
}

textarea {
	width: 250px;
	height: 40px;
}

